body {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    color: #444444;
}


.container-s {
    margin: 0 auto;
    width: min(100%, 1024px);
}

.container-m {
    margin: 0 auto;
    width: min(100%, 1100px);
}

.br-sp {
    display: none;
}

/* 背景は全幅にしたい */
.hero {
    position: relative;
    background: url(../image/mv-bg.jpg) center / cover no-repeat;
}

/* 波　*/
.hero::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    padding-top: 11.27%;
    background: url(../image/mv-wave.svg) center bottom / 100% no-repeat;
    z-index: 5;
}

/* 1100pxの箱を作りたい */
.hero_inner {
    padding-top: 8.3vw;
    padding-bottom: 15.11vw;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: min(100%, 1100px);
}


/* テキスト（左寄せ・縦中央寄せ） */
.hero_text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: left;
}

/* 画像（右寄せ・下揃え） */
.img-pc {
    position: absolute;
    width: min(47.5vw, 710px);
    right: -6.944vw;
    bottom: 0;
}

.img-sp {
    display: none;
}


/* テキスト装飾 */
.hero_title {
    font-size: 26px;
}

.hero_subtitle {
    font-size: 48px;
}

.hero_lead {
    font-size: 18px;
}

.hero_btn {
    font-size: 20px;
}

.hero_title,
.hero_subtitle,
.hero_lead {
    line-height: 160%;
    white-space: nowrap;
    max-width: 100%;
}

.hero_title,
.hero_subtitle {
    margin-bottom: 32px;
}

.hero_lead {
    margin-bottom: 56px;
}

.main_indent {
    padding-left: 2em;
}

/* ボタン */
a.hero_btn,
a.hero_btn:link,
a.hero_btn:visited {
    display: inline-block;
    padding: 16px 24px;
    background: #E2417C;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.3s;
}

a.hero_btn:hover,
a.hero_btn:active {
    background: #c93568;
    color: #fff;
}

.section.header {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.section.header {
    width: 100%;
    position: relative;
}

/* tagline（画像2枚） */
.image_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #FCECEC;
    padding-top: 120px;
    padding-bottom: 80px;
    margin: 0 auto;
}

/* 左：全体の3/5 */
.image_glowelle {
    width: 60%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* 右：全体の2/5 */
.image_silk {
    width: 40%;
    height: 420px;
    display: block;
    object-fit: cover;
}

/* テキスト重ね */
.tagline-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.tagline-t {
    position: absolute;
    top: 510px;
    right: 190px;
}

.tagline_title {
    font-size: 42px;
    letter-spacing: 0.04em;
    line-height: 1.2;
}

.tagline_subtitle {
    padding-left: 170px;
    font-size: 24px;
    letter-spacing: 0.18em;
    line-height: 1.7;
}

.intro_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: #FCECEC;
    padding-bottom: 80px;
    margin: 0 0 0 auto;
}

.intro {
    max-width: 80%;
    background-color: #f9d6d6;
    padding: 80px 500px 80px 40px;
    text-align: center;
}

.intro_title {
    padding-bottom: 30px;
    font-size: 32px;
}

.intro_text {
    font-size: 20px;
}

/* supplement */
.tagline {
    background-color: #FCECEC;
    padding-bottom: 120px;
}

/* 肌バリアの画像 */
.supplement {
    padding-bottom: 120px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
}

.campaign_supplement {
    width: 600px;
    padding-bottom: 120px;
    background: #FCECEC;
    overflow: hidden;
    line-height: 0;
}

.supplement_img {
    display: block;
    width: 600px;
    height: 600px;
}

/* campaign box */
.campaign_box {
    position: absolute;
    top: 46%;
    right: 0;
    padding: 40px;
    width: 582px;
    text-align: center;
    color: #444444;
    font-size: 24px;
    background-color: #fff;
}

.campaign_title {
    padding-bottom: 12px;
    font-size: 36px;
    color: #E2417C;
}

/* online store */
.arrow-img {
    position: relative;
}

.campaign_onlinestore {
    position: absolute;
    bottom: 3px;
    right: 40px;
    color: #444444;
    text-decoration: none;
    transition: background 0.3s;
}

.campaign_os {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 42%;
    right: 0;
    font-size: 24px;
    color: #444444;
    z-index: 5;
}

/* 葉っぱのイラスト */
.leaf-top {
    position: absolute;
    top: -140px;
    left: -80px;
}

.leaf-bottom {
    position: absolute;
    bottom: 60px;
    right: -120px;
}

/* ingredients */
.ingredients {
    position: relative;
    background-color: #FCECEC;
    padding-bottom: 120px;
}

.ingredients_main {
    position: relative;
    background-color: #FCFEFF;
    padding: 80px 40px;
    z-index: 2;
}

.ingredients_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    z-index: 5;
}

.ingredients_text {
    text-align: center;
    font-size: 20px;
    padding-bottom: 70px;
}

.ingredients_name {
    font-size: 24px;
    background: linear-gradient(transparent 60%, rgba(243, 214, 195, 0.3) 60%);
}

.ingredients_img {
    width: 288px;
    padding-bottom: 20px;
}

.ingredients_mainbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 70px;
}

.ingredients_box {
    flex-direction: column;
    width: 288px;
    text-align: center;
}

.ingredients_ex {
    text-align: left;
    padding-top: 36px;
}

.ingredients-btm_img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* 管理栄養士 */
.dr_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.dr_title {
    font-size: 24px;
}

.dr_name {
    font-size: 32px;
    padding-bottom: 30px;
}

.dr_text {
    font-size: 20px;
}

.dr_img {
    width: 300px;
}



/* glowellw 1day */
.lifestyle {
    position: relative;
}

.lifestyle_title {
    font-size: 40px;
    text-align: center;
    padding: 120px 0;
}

/* 共通 */
.lifestyle_no {
    color: #E2417C;
    font-size: 42px;
    line-height: 1;
}

.lifestyle_d {
    line-height: 1;
    margin-top: -10px
}

.lifestyle_text {
    font-size: 24px;
}

.lifestyle_time {
    font-family: "adventures-unlimited", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    padding-bottom: 40px;
}

.lifestyle_title_d {
    position: relative;
}

.lifestyle_title_d::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 86.5px;
    height: 101px;
    background: url(../image/03_leaf.png) no-repeat;
    background-position: center;
    background-size: 100%;
}



/* morning,night */
.lifestyle_minibox {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lifestyle_img {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifestyle_img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.lifestyle_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 120px;
}


/* glowelle 購入 */
.lineup {
    padding: 120px 0;
    background-color: #f9d6d6;
}

.lineup_title {
    font-size: 36px;
}

.lineup_subtytle {
    font-size: 48px;
    font-family: "adventures-unlimited", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lineup_main {
    padding-bottom: 80px;
}

/* 商品 */
.lineup_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 40px;
}

.merch_box {
    position: relative;
    text-align: center;
}

.lineup_img img {
    width: 490px;
    height: auto;
    display: block;
}

.merch_title {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../image/title_ribbon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 450px;
}

.merch_title {
    margin: 0;
    font-size: 16px;
    color: #8F3E04;
}


.merch_namebox {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 490px;
    background-color: #ffffff9c;
    padding: 10px 30px;
    bottom: 0;
}

.merch_name {
    font-size: 15px;
}

.merch_jpy {
    font-size: 24px;
}

a.merch_btn,
a.merch_btn:link,
a.merch_btn:visited {
    display: inline-block;
    padding: 14px 13px;
    background: #E2417C;
    background-size: contain;
    width: 245px;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s;
}

a.merch_btn:hover,
a.merch_btn:active {
    background: #c93568;
    color: #fff;
}

.merch_btn_box {
    padding-top: 45px;
    text-align: center;
}

/* present */
.lineup_present {
    position: relative;
    display: grid;
    place-items: center;
    padding-top: 190px;
}

.present_title {
    font-size: 36px;
    padding: 80px 0 40px 0;
    text-align: center;
}

.present_box {
    display: block;
    background-color: #fff;
    width: 90%;
    text-align: center;
    padding-bottom: 40px;
}

.present_img {
    position: absolute;
    top: 10px;
    width: 375px;
    margin: 0 auto;
    z-index: 5;
}

.present_titleimg {
    width: 301px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
}

.present_text {
    font-size: 16px;
    padding: 24px 0;
}


/* Glowelle user Voice */
.voice {
    padding: 120px 0;
}

.voice_title {
    font-size: 36px;
    text-align: center;
    padding-bottom: 36px;
}

.voice_subtutle {
    width: 224px;
    margin: 0 auto;
    text-align: center;
}

.voice_text {
    font-size: 16px;
    text-align: center;
}

.voice_img_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px 0 60px 0;
}

.voice_img img {
    width: 212px;
    display: block;
}

.voice_ig {
    width: 77px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.voice_user,
.voice_user:link,
.voice_user:visited {
    display: block;
    font-size: 16px;
    text-align: center;
    color: #444444;
    text-decoration: none;
}

.voice_user:hover,
.voice_user:active {
    text-decoration: underline;
    color: #444444;
}

/* 製品 */
.info_section {
    background-color: #F3F1F0;
    padding: 120px 0;
}

.info_box {
    background-color: #FCFEFF;
    width: 1024px;
    margin: 0 auto;
}

.info_title {
    font-size: 36px;
    text-align: center;
    padding: 80px 0 40px 0;
}

.company_box {
    font-size: 16px;
}

.product_dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 790px;
    row-gap: 40px;
    column-gap: 10px;
    margin: 0 auto;
    padding: 0 10px 40px 10px;
    font-size: 16px
}

.pd_tytle {
    width: 130px;
}

.pd_text {
    width: 620px;
}

/* table */
.pd_tablebox {
    width: 790px;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.pd_tabletytle {
    padding: 24px 0 10px 0;
}

.pd_text {
    padding-bottom: 30px;
}

.pd_table table {
    background-color: #F3F3F3;
    border-collapse: separate;
    border-spacing: 30px 0;
    text-align: center;
    padding-bottom: 40px;
}

.pd_table th {
    font-size: 16px;
    padding-top: 50px;
}

.pd_table td {
    padding-top: 20px;
}

.pd_table .line-row td {
    border-bottom: 1px solid #aaa;
    width: 200px;
    height: 1px;
}

/* 会社 */
.company_info {
    padding-bottom: 40px;
}

.company_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 570px;
    column-gap: 30px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 32px;
}

.cp_title {
    width: 130px;
}

.cp_text {
    width: 310px;
}

.cp_text,
.cp_text:link,
.cp_text:visited {
    display: block;
    font-size: 16px;
    color: #444444;
    text-decoration: none;
}

.cp_text:hover,
.cp_text:active {
    text-decoration: underline;
    color: #444444;
}


/* online store */
.online-store {
    padding-top: 120px;
    text-align: center;
}

.os_tytle {
    font-size: 36px;
    padding-bottom: 20px;
}

.on-img {
    width: 76.38vw;
    display: block;
    margin: 0 auto;
}

.os_shere {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 120px;
}

.os_subtytle {
    padding-bottom: 10px;
}

.os_icon {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

img.os_img {
    width: 40px;
    height: 40px;
    display: block;
}

/* footer */
.footer {
    background-color: #FCECEC;
    padding: 54px 0;
    text-align: center;
}

.footer_copy {
    font-size: 20px;
}


/* メディアクエリ */
@media screen and (max-width: 767px) {
    .container-s {
        margin: 0 auto;
        width: min(100%, 687px);
    }

    .container-m {
        margin: 0 auto;
        width: min(100%, 727px);
    }

    .br-pc {
        display: none;
    }

    .br-sp {
        display: inline-block;
    }


    .hero_inner {
        display: block;
        padding-bottom: 0;
    }

    .hero_text {
        text-align: center;
        align-items: center;
    }

    .hero_title,
    .hero_subtitle,
    .hero_lead {
        white-space: normal;
    }

    .hero_btn {
        font-size: 16px;
    }

    .hero_title {
        font-size: 18px;
        margin-bottom: 16px;
        padding-left: 40px;
    }

    .hero_subtitle {
        font-size: 24px;
        margin-bottom: 30px;
        padding-left: 30px;
    }

    .img-pc {
        display: none;
    }

    .img-sp {
        display: block;
        width: 300px;
        height: auto;
        position: relative;
        z-index: 5;
        margin: 0 auto;
    }

    .img-sp-after {
        position: relative;
    }

    .img-sp-after::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 0;
        width: 100%;
        padding-top: 11.27%;
        background: url(../image/mv-wave.svg) center bottom / 100% no-repeat;
        z-index: 10;
    }

    .hero::after {
        display: none;
    }

    .hero_lead_b {
        padding-top: 40px;
        background-color: #FCECEC;
    }

    .hero_lead {
        font-size: 16px;
        margin-bottom: 52px;
        text-align: center;
    }

    .hero_btn_box {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
    }

    .hero_btn {
        font-size: 16px;
    }

    .main-visual {
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
    }

    .image_wrapper {
        position: relative;
        flex-direction: row;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .image_glowelle {
        width: 60%;
    }

    .image_silk {
        width: 40%;
        height: auto;
    }

    .tagline-t {
        position: absolute;
        transform: none;
        text-align: center;
        top: 50%;
        right: 8%;
    }

    .tagline_title {
        font-size: 22px;
    }

    .tagline_subtitle {
        font-size: 16px;
        padding-left: 80px;
    }

    .intro_box {
        position: relative;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .info_box ::after {
        content: "";
        position: absolute;
        inset: 0 0 0 35%;
        z-index: 2;
    }

    .intro {
        position: relative;
        z-index: 1;
        background-color: #f9d6d6;
        padding: 40px 30% 40px 40px;
        max-width: 100%;
        margin-right: 0;
    }

    .intro_title {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .intro_text {
        font-size: 16px;
    }


    .supplement {
        padding-bottom: 60px;
    }

    .supplement_img {
        width: 350px;
        height: auto;
        display: block;
        margin: 0 auto;
    }



    .campaign_supplement {
        position: relative;
        background: none;
        width: clamp(260px,86vw,600px);
        padding-bottom: 40px;
        z-index: 0;
        text-align: center;
        margin: auto;
    }

    .leaf-top-sp {
        position: relative;
        display: inline-block;
        z-index: 0;
    }

    .leaf-top {
        position: absolute;
        top: -80px;
        left: 70px;
        width: 210px;
        height: auto;
        transform: translate(0,0);
        z-index: 1;
        pointer-events: none;
    }

    .campaign_box {
        position: static;
        width: 80%;
        padding: 30px;
        margin: 0 auto;
        z-index: 10;
    }

    .campaign_title {
        font-size: 22px;
    }

    .campaign_subtitle,
    .campaign_text {
        font-size: 16px;
    }

    .campaign_onlinestore {
        position: static;
        font-size: 16px;
        margin-right: 30px;
        margin-left: auto;
        text-align: right;
        z-index: 10;
    }

    .campaign_os {
        position: static;
        font-size: 16px;
        margin-top: -20px;
        margin-right: 70px;
        margin-left: auto;
        text-align: right;
        z-index: 11;
    }

    .arrow-img {
        position: static;
        width: 150px;
        margin-left: auto;
        margin-top: -10px;
        padding-bottom: 10px;
    }



    .leaf-bottom {
        bottom: 0px;
        right: 20px;
        width: 180px;
        height: auto;
        z-index: 4;
    }



    .ingredients_title {
        font-size: 24px;
    }

    .ingredients_text {
        font-size: 16px;
        padding-bottom: 80px;
    }

    .ingredients_img {
        width: 150px;
        padding-bottom: 10px;
    }

    .ingredients_name {
        font-size: 16px;
    }

    .ingredients_ex {
        font-size: 14px;
        padding-top: 20px;
    }

    .ingredients_box {
        width: 150px;
        gap: 15px;
    }

    .ingredients_mainbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-bottom: 80px;
    }

    .dr_title {
        font-size: 14px;
    }

    .dr_name {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .dr_text {
        font-size: 16px;
    }

    .dr_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 30px;
    }

    .ingredients_dr {
        flex: 1;
        /* テキスト側を広めにとる */
    }

    .dr_img {
        flex-shrink: 0;
        /* 画像が縮まないように固定 */
    }

    .dr_img {
        width: 150px;
        height: auto;
        display: block;
    }

    .lifestyle_title {
        font-size: 24px;
        padding: 80px 0;
    }

    .lifestyle_no {
        font-size: 32px;
    }

    .lifestyle_time {
        font-size: 48px;
        padding-bottom: 20px;
    }

    .lifestyle_text {
        font-size: 16px;
    }

    .lifestyle_img {
        width: 300px;
    }

    .lifestyle_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 120px;
    }

    .lifestyle_minibox {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .lifestyle_title_d::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        width: 66.5px;
        height: 101px;
        background: url(../image/03_leaf.png) no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .lineup_title {
        font-size: 24px;
    }

    .lineup_subtytle {
        font-size: 36px;
    }

    .merch_namebox {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background-color: #ffffff9c;
        padding: 10px 10px;
        bottom: 0;
    }

    .merch_title {
        font-size: 14px;
    }

    .merch_name {
        font-size: 12px;
    }

    .merch_jpy {
        font-size: 16px;
    }

    .present_title {
        font-size: 24px;
    }

    .info_box {
        background-color: #FCFEFF;
        width: 767px;
        margin: 0 auto;
    }

    .info_box {
        background-color: #FCFEFF;
        width: 682px;
        margin: 0 auto;
    }


}